

footer {
    position: relative; 
    overflow: hidden;
   
}


.naipe-caindo {
    color: white; 
    font-size: 12px;
    position: absolute; 
    top: -5%; 
    z-index: 1;
    opacity: 0.8;
    
  
    animation: fall linear infinite;
}


@keyframes fall {
    to {
        transform: translateY(255vh);     }
}

footer {
    
    width: 365px;
   
    padding: 20px 0;
    text-align: center;
}


#fotodoveni {
   
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    border: 2px solid #D3AF37; 
    background-image: url("images/Perfil1.jpg"); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    transition: background-image 0.9s ease; 
    background-color: transparent; 
}


#exemplo-cartas img {
    width: 80px;
    margin: 0 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


body {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #0a5c28;
    background-image: url('images/feltro.webp');
    background-size: 100vh;
    color: white;
    text-align: center;
    margin: 0; 
    padding: 0; 
}

#area-jogo {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0a5c28;
    border-radius: 10px;
}

#area-jogador {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}


.area-cartas {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;


}

.area-cartas img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.area-cartas img {
    width: 100px;
    height: auto;
    border: 2px solid #454F5B;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;

}

.fichinha {
    width: 51px;
    height: 50px;
    border-radius: 50%;
    background-image: url("images/ficha2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 16px;
    font-family: "New Rocker", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform-style: preserve-3d;
    background-color: transparent;
    
    
}

.ficha {
    width: 40px;
    height: 40px;
    background-image: url("images/ficha.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f44336;

}

.area-bet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 20px 0;
    border: 2px solid #ffd700;
    border-radius: 5px;
    width: 150px;
    height: 100px;
    background-image: url("images/areabet.png");
    background-size: cover;
    background-repeat: no-repeat;


}

/* . pra class, # para id */
#qrcode {
    display: flex;
    justify-content: end;
    width: 200px;

}

#qrcode:hover {
    transform: scale(2);
}

.area-ficha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

#fichas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0;


}

button:hover {
    opacity: 0.9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.fichinha:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

#btn-pedir {
    background-color: #379643;
    color: white;
}

#btn-parar {
    background-color: #DB2C2F;
    color: white;
}

#btn-novo-jogo {
    background-color: #1357D8;
    color: white;
}

#bet {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(91, 228, 155, 0.7);

    animation: pulsar 1.5s infinite;
}

.bet-label {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
}

#dubliar,
#btn-dividir {
    background-color: #D4B500;
    color: #ffffff;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(0, 184, 217, 0.7);
    animation: pulsar 1.5s infinite;
}



@keyframes pulsar {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(91, 228, 155, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(220, 53, 69, 0);

    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
    }
}

#mensagem-resultado {
    font-size: 1.5em;
    font-weight: bold;
    min-height: 30px;
}

.saldo {
    font-size: 0.5em;
}

.mao-container {
    border: 1px solid transparent;
    padding: 1px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: border-color 0.3s;
}

.mao-ativa {

    border-color: #ffd700;
}

#helpbtn {
    display: flex;
    width: 527px;
    gap: 4px;
    margin: 20px 0;
    padding: 20px;
    border-bottom: 2px solid #0a5c28;
    background: rgba(10, 92, 40, 0.8);
    border-radius: 10px;
    flex-wrap: nowrap;
    flex-direction: column
}

#textohelp {
    display: flex;
}


.faq-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #0a5c28;
    background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.faq-button svg {
    height: 1.5em;
    fill: white;
}

.faq-button:hover svg {
    animation: jello-vertical 0.7s both;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.tooltip {
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #0a5c28;
    background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
}

.tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #0a5c28;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -15%;
    transition-duration: 0.3s;
}

.faq-button:hover .tooltip {
    top: -40px;
    opacity: 1;
    transition-duration: 0.3s;
}

#helpbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}


.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #0a5c28;
    background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
    position: fixed;
    right: 10px;
    bottom: 10px;
}


.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}

.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.Btn:active {
    transform: translate(2px, 2px);
}

#btn-toggle-som {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #0a5c28;
    background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
    position: fixed;
    right: 10px;
    bottom: 80px;
}

#paranaipe{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #0a5c28;
    background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
    position: fixed;
    right: 10px;
    bottom: 140px;
    color: #ffffff;
    font-size: 10px;
}

@media (max-width: 768px) {

    
@keyframes fall {
    to {
        transform: translateY(120vh);     }
}

    .area-ficha {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 0px 0;
    }

    #area-jogo {
        max-width: 684px;
        margin: 20px auto;
        padding: 20px;
        background-color: #0a5c28;
        border-radius: 10px;
        max-height: 700px;
    }


    .Btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: #0a5c28;
        background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
        position: fixed;
        right: 5px;
        bottom: 10px;
        padding: 10px;
    }

    #btn-toggle-som {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: #0a5c28;
        background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
        position: fixed;
        right: 7px;
        bottom: 50px;
        padding: 10px;
    }
   #paranaipe {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: #0a5c28;
        background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
        position: fixed;
        right: 7px;
        bottom: 85px;
        padding: 8px;
        font-size: 6px;
    }

    .area-cartas {
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0px 0;
        flex-wrap: wrap;
    }

    .area-cartas img {
        width: 70px;
        height: auto;
        border: 2px solid #454F5B;
        border-radius: 5px;
    }

    h2,
    h1 {
        font-size: 1.0rem;

    }

    .area-bet {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin: 20px 0;
        border: 2px solid #ffd700;
        border-radius: 5px;
        width: 79px;
        height: 62px;
        background-image: url(images/areabet.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .fichinha {
        width: 36px;
        height: 39px;
        border-radius: 52%;
        background-image: url(images/ficha2.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        font-size: 12px;
        font-family: "New Rocker", system-ui;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease;
        background-color: transparent;
    }

    #mensagem-resultado {
        font-size: 0.9em;
        font-weight: bold;
        min-height: 30px;
    }

    button {
        padding: 10px 20px;
        font-size: 10px;
        margin: 5px;
        cursor: pointer;
        border: none;
        border-radius: 15px;
        font-family: "New Rocker", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    #fichas {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin: 12px 0;
    }

    .faq-button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: #0a5c28;
        background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
        position: fixed;
        right: 5px;
        bottom: 0px;
        padding: 10px;
    }

    .faq-button svg {
        height: 0.9rem;
        fill: white;
    }
}

@media (max-width: 480px) {
       #paranaipe {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: #0a5c28;
        background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
        position: fixed;
        right: 0px;
        bottom: 90px;
        padding: 5px;
        font-size: 6px;
    }




    #helpbtn {
        display: flex;
        width: 369px;
        gap: 4px;
        margin: 20px auto;
        padding: 20px;
        border-bottom: 2px solid #0a5c28;
        background: rgba(10, 92, 40, 0.8);
        border-radius: 10px;
        flex-wrap: wrap;
        flex-direction: column
    }

    .Btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: #0a5c28;
        background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
        position: fixed;
        right: 0px;
        bottom: 10px;
        padding: 10px;
    }

    #btn-toggle-som {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: #0a5c28;
        background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
        position: fixed;
        right: 0px;
        bottom: 30px;
        padding: 6px;
    }


    .text {
        position: absolute;
        right: 0%;
        width: 0%;
        opacity: 0;
        color: white;
        font-size: 0.7rem;
        font-weight: 600;
        transition-duration: .3s;
    }

    .sign {
        width: 100%;
        transition-duration: .3s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sign svg {
        width: 17px;
    }

    .Btn:hover {
        width: 125px;
        border-radius: 40px;
        transition-duration: .3s;
    }

    .Btn:hover .sign {
        width: 30%;
        transition-duration: .3s;
        padding-left: 20px;
    }

    .Btn:hover .text {
        opacity: 1;
        width: 70%;
        transition-duration: .3s;
        padding-right: 10px;
    }

    .Btn:active {
        transform: translate(2px, 2px);
    }



    .faq-button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: none;
        background-color: #0a5c28;
        background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
        position: fixed;
        right: 0px;
        bottom: 0px;
        padding: 10px;
    }

    .faq-button svg {
        height: 0.8em;
        fill: white;
    }

    .area-cartas {
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 20px 0;
        flex-wrap: wrap;
    }

    .area-cartas img {
        width: 70px;
        height: auto;
        border: 2px solid #454F5B;
        border-radius: 5px;
    }

    h2,
    h1 {
        font-size: 1.0rem;

    }

    .area-bet {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin: 0px 0;
        border: 2px solid #ffd700;
        border-radius: 5px;
        width: 80px;
        height: 66px;
        background-image: url(images/areabet.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .fichinha {
        width: 36px;
        height: 39px;
        border-radius: 52%;
        background-image: url(images/ficha2.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        font-size: 12px;
        font-family: "New Rocker", system-ui;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease;
        background-color: transparent;
    }

    #mensagem-resultado {
        font-size: 0.9em;
        font-weight: bold;
        min-height: 30px;
    }

    button {
        padding: 10px 20px;
        font-size: 10px;
        margin: 5px;
        cursor: pointer;
        border: none;
        border-radius: 15px;
        font-family: "New Rocker", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    #fichas {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin: 12px 0;
    }

    .bet-label {
        margin-top: 5px;
        font-size: 0.6rem;
        font-weight: bold;
        color: #ffffff;
    }

}



@media (max-width: 425px) {
    #helpbtn {
        display: flex;
        width: 369px;
        gap: 4px;
        margin: 20px auto;
        padding: 20px;
        border-bottom: 2px solid #0a5c28;
        background: rgba(10, 92, 40, 0.8);
        border-radius: 10px;
        flex-wrap: wrap;
        flex-direction: column
    }

    .faq-button {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: none;
        background-color: #0a5c28;
        background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
        position: fixed;
        right: 0px;
        bottom: 10px;
        padding: 10px;

    }

    .faq-button svg {
        height: 0.8em;
        fill: white;
    }

    .area-cartas {
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0px 0;
        flex-wrap: wrap;
    }

    .area-cartas img {
        width: 70px;
        height: auto;
        border: 2px solid #454F5B;
        border-radius: 5px;
    }

    h2,
    h1 {
        font-size: 1.0rem;

    }

    .area-bet {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin: 0px 0;
        border: 2px solid #ffd700;
        border-radius: 5px;
        width: 80px;
        height: 66px;
        background-image: url(images/areabet.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .fichinha {
        width: 36px;
        height: 39px;
        border-radius: 52%;
        background-image: url(images/ficha2.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        font-size: 12px;
        font-family: "New Rocker", system-ui;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        transition: transform 0.2s ease;
        background-color: transparent;
    }

    #mensagem-resultado {
        font-size: 0.9em;
        font-weight: bold;
        min-height: 30px;
    }

    button {
        padding: 10px 20px;
        font-size: 10px;
        margin: 5px;
        cursor: pointer;
        border: none;
        border-radius: 15px;
        font-family: "New Rocker", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    #fichas {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin: 12px 0;
    }

    .bet-label {
        margin-top: 5px;
        font-size: 0.6rem;
        font-weight: bold;
        color: #ffffff;
    }

    .Btn {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: #0a5c28;
        background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
        position: fixed;
        right: 0px;
        bottom: 10px;
        padding: 10px;

        .text {
            position: absolute;
            right: 0%;
            width: 0%;
            opacity: 0;
            color: white;
            font-size: 0.7rem;
            font-weight: 600;
            transition-duration: .3s;
        }

        .sign {
            width: 100%;
            transition-duration: .3s;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sign svg {
            width: 17px;
        }

        .Btn:hover {
            width: 125px;
            border-radius: 40px;
            transition-duration: .3s;
        }

        .Btn:hover .sign {
            width: 30%;
            transition-duration: .3s;
            padding-left: 20px;
        }

        .Btn:hover .text {
            opacity: 1;
            width: 70%;
            transition-duration: .3s;
            padding-right: 10px;
        }

        .Btn:active {
            transform: translate(2px, 2px);
        }



        .faq-button {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: none;
            background-color: #0a5c28;
            background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
            position: absolute;
            right: 0px;
            bottom: 10px;
            padding: 6px;
        }

        .faq-button svg {
            height: 0.8em;
            fill: white;
        }

        .area-cartas {
            min-height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 20px 0;
            flex-wrap: wrap;
        }

        .area-cartas img {
            width: 70px;
            height: auto;
            border: 2px solid #454F5B;
            border-radius: 5px;
        }

        h2,
        h1 {
            font-size: 1.0rem;

        }

        .area-bet {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1px;
            margin: 0px 0;
            border: 2px solid #ffd700;
            border-radius: 5px;
            width: 80px;
            height: 66px;
            background-image: url(images/areabet.png);
            background-size: cover;
            background-repeat: no-repeat;
        }

        .fichinha {
            width: 36px;
            height: 39px;
            border-radius: 52%;
            background-image: url(images/ficha2.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            font-size: 12px;
            font-family: "New Rocker", system-ui;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            cursor: pointer;
            transition: transform 0.2s ease;
            background-color: transparent;
        }

        #mensagem-resultado {
            font-size: 0.9em;
            font-weight: bold;
            min-height: 30px;
        }

        button {
            padding: 10px 20px;
            font-size: 10px;
            margin: 5px;
            cursor: pointer;
            border: none;
            border-radius: 15px;
            font-family: "New Rocker", system-ui;
            font-weight: 400;
            font-style: normal;
        }

        #fichas {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            margin: 12px 0;
        }

        .bet-label {
            margin-top: 5px;
            font-size: 0.6rem;
            font-weight: bold;
            color: #ffffff;
        }
    }

    #btn-toggle-som {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 25px;
        height: 25px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition-duration: .3s;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
        background-color: #0a5c28;
        background-image: linear-gradient(147deg, #0a5c28 0%, #afa1a1 74%);
        position: fixed;
        right: 0px;
        bottom: 50px;
        padding: 6px;
    }

}